* {
    margin: 0;
    padding: 0;
    background: #000
}

main {
    color: #00008b;
}

.header {
    height: 5rem;
}

.title {
    height: 2rem;
    color: darkgreen;
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: 5px 3px #FFF;
}

h1 {
    background-color: #2b2a2a;
    height: 2.3em;
    text-align: center;
}

.imagem {
    border: 5px solid #00008b;
}

.par {
    width: 20em;
    height: 2em;
    color: #8b0000;
    border: 2px solid #FFF;
    border-radius: 15px;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 2rem;
    text-shadow: 6px 3px darkblue;
    text-align: center;
}

h2 {
    color: #ff8c00;
}

a {
    color: #ff8c00;
    text-decoration: none;
}

.banner {
    height: 530px;
    background-image: url(img/bart.png);
}

.bart {
    background: none;
    color: #57027e;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 4em;
    text-align: center;
    text-shadow: 4px 7px #000;
}

.paragrafo {
    margin: auto;
    width: 200px;
    height: 25px;
    border: 2px solid #006400
}

input {
    display: flex;
    width: 15rem;
    height: 3em;
    color: #FFF;
    margin: auto;
    text-align: center; 
}

.botao {
    background-color: #8b0000;
    justify-content: center;
    font-size: 1em;
}

nav {
    background: none;
}

button {
    width: 10rem;
    height: 2.5rem;
}